@{
    ViewBag.Title = "Home Page";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>KHOZA TG Assessment</h1>
                <h2>Fullstack developer on board</h2>
            </div>
        </div>
    </div>
</section>